<p>rxjs works!</p>

<button class="link-button" [routerLink]="['c13']">C13 Custom observable</button>
<button class="link-button" [routerLink]="['c14']">C14 Handling Errors</button>
<button class="link-button" [routerLink]="['c15']">C15 Observable Operators</button>
<button class="link-button" [routerLink]="['c16']">C16 Subjects</button>
<button class="link-button" [routerLink]="['c17']">C17 Caching Observables</button>
<button class="link-button" [routerLink]="['c18']">C18 Higher Order Observables</button>

<router-outlet></router-outlet>
