<app-c2-throw-custom-http-error></app-c2-throw-custom-http-error>
<button class="link-button" routerLink="">Home</button>
<button class="link-button" routerLink="c3-resolver">C3 Resolver</button>
<button class="link-button" routerLink="c4-interceptor">C4 Interceptor</button>
<button class="link-button" routerLink="c5">C5 Interceptor Metadata Response</button>
<button class="link-button" routerLink="c6">C6 Caching Interceptor</button>
<button class="link-button" routerLink="c7">C7 HTTP Unit Testing</button>
<br>
<button class="link-button" routerLink="services">Services Section</button>
<br>
<button class="link-button" routerLink="rxjs">RxJS Section</button>
<router-outlet></router-outlet>
